.button-container {
    display: flex;
    justify-content: space-around;
}

.button-container div {
    margin-top: 20px;
    background-color: blue;
    cursor: pointer;
    margin: 10px;
}

.submit-btn {
    background-color: red;
    margin-top: 40px;
    cursor: pointer;
}